.button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.chat {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    border-radius: 20px;
    overflow: hidden;
    font-style: normal;
    font-weight: normal;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 120px;
    left: auto;
    right: auto;
}

.chat__header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.33);
    padding: 0 10px;
    display: flex;
    height: 40px;
    align-items: center;
    text-align: center;
}

.chat__header_b-size {
    justify-content: space-around;
}

.chat__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 100%;
    color: #23B838;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    overflow: hidden;
}

.chat__nav_b-size {
    background: none;
    justify-content: space-evenly;
    width: 260px;
}

.chat__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    transform: translate(20px);
}

.chat__links_b-size {
    transform: translate(0);
}

.chat__links_shift {
    transform: translate(-20px);
}

.chat__link {
    cursor: pointer;
    position: relative;
    padding: 0 7.5px;
    letter-spacing: 0.33px;
    outline: none;
    text-decoration: none;
}

.chat__link_active {
    position: relative;
    color: #ffffff;
}

.chat__link_active::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 0;
    left: 7.5px;
    right: 7.5px;
    height: 2px;
    background-color: #23B838;
}

.chat__link:hover {
    color: #ffffff;
}

.chat__arrow-button {
    background-color: rgba(0, 0, 0, 0);
}

.chat__arrow-button_drop {
    transform: rotate(180deg);
    margin-bottom: 5px;
}

.chat__drop-wrapper {
    position: relative;
    align-items: center;
    margin-left: 5px;
    display: flex;
    text-align: center;
}

.chat__drop-lang {
    font-size: 13px;
    line-height: 15px;
    min-width: 26px;
    color: #ffffff;
    margin: 0;
    padding: 4px 0;
}

.chat__drop-lang_selected {
    margin-right: 9px;
}

.chat__drop-container {
    visibility: hidden;
    position: absolute;
    top: 33px;
    left: 0px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.33);
}

.chat__drop-container_active {
    visibility: visible;
}

.chat__drop-container>.chat__drop-lang:hover {
    background-color: rgba(0, 0, 0 );
}

.chat__minimize-button {
    margin: 0 10px;
    height: 18px;
}

.chat__enlarge-button {
    height: 18px;
}

.chat__main {
    display: flex;
    flex-direction: column;
    visibility: visible;
    height: 360px;
}

.chat__main_b-size {
    height: 440px;
}

.chat__container {
    text-align: center;
    width: 100%;
    height: 100%;
}

.chat__size-container {
    display: flex;
}

.chat__container_general {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0.0);
}

.chat__message-container {
    padding: 8px 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat__fake-div {
    padding-bottom: 8px;
}

.chat__message-container_user {
    justify-content: flex-end;
    padding: 8px 10px 0 10px;
}

.chat__message {
    background: #FFFFFF;
    border-radius: 20px 20px 20px 0px;
    max-width: 224px;
}

.chat__message_user {
    order: 1;
}

.chat__message-header {
    display: flex;
    flex-direction: row;
    margin: 11px 12px 0 11px; 
}

.chat__user-name {
    margin: 0 5px;
    font-size: 13px;
    line-height: 14px;
    color: #999999;
}

.chat__status-badge {
    margin-left: 5px;
}

.chat__user-level {
    font-size: 13px;
    line-height: 14px;
    color: #23B838;
    margin: 0;
}

.chat__message-text {
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    margin: 6px 12px 10px 12px;
    text-align: start;
    word-break: break-all;
}

.chat__message-time {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    opacity: 0.4;
    margin-left: 10px;
    margin-right: 10px;
}

.chat__message_user {
    background: #212121;
    border-radius: 20px 20px 0px 20px;
}
.chat__message-text_user {
   color: #ffffff;
   margin: 11px 12px;
}

.chat__footer {
    display: flex;
    align-items: center;
    height: 40px;
}

.chat__input {
    background-color: rgba(0, 0, 0, 0.33);
    border: none;
    outline: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
    height: 40px;
    padding: 0 10px 0 20px;
}

.chat__emodji-button {
    background-position: center;
    background-color: rgba(0, 0, 0, 0.33);
    height: 100%;
    min-height: 40px;
    padding: 0 20px 0 0;
    text-align: center;
}