.App {
  background-image: url(../src/icons/coc_game_ui_update.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
